
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page Under Construction</title>
</head>
<body>
    <div> 
        <img src="~/Content/Img/page-under-construction.jpg" />
    </div>
</body>
</html>
